h1{
    color:cornsilk;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

footer{
    color:cornsilk;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 600;  
}

.blockscore{
    color:cornsilk;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 600;  
}


a{
    color:cornsilk;
}
a:hover{
    color:darkgreen;
}


body{
    background-color: black;
}

#game-board{
    background-color: cornsilk;
    margin: auto;
    width: 600px;
    height:600px;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    background-color: #fbc531;
    border: .25vmin solid black;
}

.food{
    background-color: darkorange;
}